.barra-navegacao{
  background: linear-gradient(to bottom, #ec4b76 , #be3d68);
  height: 64px;
  width: 100vw;
  padding: 10px 40px;
  position:fixed;
  z-index: 9999;
  text-align: center;
}
.voltar{
  position:static;
  margin-top:5px;
  float: left;
}
.margem{
  height: 100px;
  width: 100vw;
}
.barra-navegacao .logo{
  max-height: 90%;
}
.card-empresa{
  padding: 28px 42px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 15px;
}
.foto{
  height: 280px;
  background-image: url('/assets/imagens/sem_foto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 0;
}
.foto img{
  max-width: 100%;
  min-height: 100%;
}
.nome{
  font-size: 30px;
  font-weight: 700;
  color: #1a0e49;
  margin: 22px 0 0 0;
}
.descricao{
  font-size: 24px;
  font-weight: 400;
  color: #8d8c8c;
}

@media screen and (max-width: 320px) {
  .barra-navegacao{
    padding: 10px 5px!important;
  }
}

@media screen and (max-width: 767px) {
  .barra-navegacao{
    padding: 10px 10px!important;
  }
  .nome{
    margin: 22px 0 0 0px;
  }
  .descricao{
    margin: 0 0 0 0px;
  }
}
