<div class="barra-navegacao">
  <a [routerLink] = "['/empresas']" class="voltar">
    <img src="assets/imagens/arrow_back.png">
  </a>
  <img class="logo" id="logo" src="assets/imagens/logo-nav.png">
</div>
<div class="margem"></div>

<div class="container">
  <div class="card-empresa">
    <div class="row">
      <div class="col-md-12 foto">
        <img src="{{foto}}">
      </div>
      <div class="col-md-12">
        <p class="nome">{{nome}}</p>
        <p class="descricao">{{descricao}}</p>
        <p class="pais">{{Enterprises.country}}</p>
      </div>
    </div>
  </div>
</div>
