<div class="bg">
  <div class="container">
    <div class="conteudo">
      <img src="../../assets/imagens/logo-home.png">
      <h1 class="titulo">BEM-VINDO AO<br>EMPRESAS</h1>
      <h2 class="subtitulo">Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.</h2>
      <form id="formulario" method="POST" >
        <div class="md-form">
          <img src="../../assets/imagens/ic-email.svg" class="prefix medium-pink">
          <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" required>
          <label for="email">E-mail</label>
        </div>
        <div class="md-form">
          <img src="../../assets/imagens/ic-cadeado.svg" class="prefix medium-pink">
          <input type="password" id="senha" name="senha" class="form-control" [(ngModel)]="senha" required>
          <label for="senha">Senha</label>
        </div>
        <input type="submit" class="botao btn-block" value="ENTRAR" (click)='logar(email, senha)'>
      </form>

    </div>
  </div>
</div>
