.bg{
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ebe9d7;
  color: #383743;
}
.conteudo{
  max-width: 360px;
  text-align: center;
  margin: auto;
  margin-top: calc(50vh - 300px);
}
.conteudo img{
  margin-bottom: 74px;
  max-width: 90%;
}
.titulo{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}
.subtitulo{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}
form{
  text-align: left;
  font-weight: 400;
}
.medium-pink{
  color: #ee4c77;
}
.md-form img{
  margin-top: 4px;
}
.md-form .form-control{
  padding-top: 9px;
}
.md-form .prefix~input, .md-form .prefix~textarea{
  margin-left: 0;
  padding-left: 2.5em;
}
.md-form input[type=email], .md-form input[type=password], .md-form input[type=search-md], .md-form input[type=search], .md-form textarea.md-textarea{
  border-bottom: solid 1px #888785;
}
.md-form input[type=email]:focus:not([readonly]) + label, .md-form input[type=password]:focus:not([readonly]) + label {
  color: #ee4c77;
}
.md-form input[type=email]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #ee4c77;
  box-shadow: 0 1px 0 0 #ee4c77;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #ebe9d7 inset;
}
input[type="text"], input[type="password"], textarea, select {
  outline: none;
}
.botao{
  background-color: #57bbbc;
  border-radius: 3.6px;
  border: none;
  padding: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-top: 52px;
  transition: .15s;
}
.botao:hover{
  background-color: #4ec7c8;
  -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 4px 6px rgba(0,0,0,0.25);
  box-shadow: 0px 4px 6px rgba(0,0,0,0.25);
}
.botao:active{
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 4px 6px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
}
