<div class="barra-navegacao">
  <img class="logo" id="logo" src="assets/imagens/logo-nav.png">
  <div class="area-busca">
    <div class="lupa" id="lupa" onclick="abrir()">
      <img src="assets/imagens/ic-search-copy.svg">
    </div>
    <div class="busca" id="busca">
      <form (keyup.enter)='filtrarEmpresasTipoNome(parametro)'>
        <input type="text" name="input-busca" id="input-busca" class="input-busca" placeholder="Pesquisar" [(ngModel)]='parametro'>
      </form>
      <div class="fechar" onclick="abrir()" (click)='listaTodasEmpresas()'>
        <img src="assets/imagens/ic-close.svg">
      </div>
    </div>
  </div>
</div>
<div class="margem"></div>

<div *ngIf="vazio" class="clique-iniciar">Clique na busca para iniciar.</div>

<div class="container">
  <div *ngFor="let Enterprises of empresas">
    <a [routerLink] = "['/empresa',Enterprises.id]">
      <div class="card-empresa">
        <div class="row">
          <div class="col-md-3 foto">
            <img src="{{Enterprises.photo}}">
          </div>
          <div class="col-md-6">
            <p class="nome">{{Enterprises.enterprise_name}}</p>
            <p class="negocio">{{Enterprises.enterprise_type.enterprise_type_name}}</p>
            <p class="pais">{{Enterprises.country}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
