.barra-navegacao{
  background: linear-gradient(to bottom, #ec4b76 , #be3d68);
  height: 64px;
  width: 100vw;
  padding: 10px 40px;
  position:fixed;
  z-index: 9999;
  text-align: center;
}
.margem{
  height: 100px;
  width: 100vw;
}
.barra-navegacao .logo{
  max-height: 90%;
}
.area-busca{
  margin-top:5px;
  color: #fff;
  float: right;
  vertical-align: middle;
  overflow: hidden;
}
.lupa{
  float: left;
  height: 34px;
}
.lupa img{
  width: 32px
}
.fechar{
  height: 34px;
  border-bottom: 1px solid #fff;
  float: right;
}
.fechar img{
  width: 32px
}
.busca{
  transition: .3s;
  float: right;
  overflow: hidden;
  width:0;
  height: 34px;
  max-width: 280px;
}
.input-busca{
  width: calc(100% - 32px);
  float: left;
  height: 34px;
  padding-left: 10px;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.input-busca:focus{
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid #fff;
  box-shadow: none;
  outline: none;
}
input::placeholder {
  color: #991338!important;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #991338!important;
}

input::-ms-input-placeholder {
  color: #991338!important;
}
.clique-iniciar{
  font-size: 22px;
  font-weight: 400;
  color: #383743;
  margin: calc(49vh - 100px) auto 0 auto;
  position: absolute;
  width: 100vw;
  text-align: center;
}
.card-empresa{
  padding: 28px 42px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 15px;
}
.foto{
  height: 160px;
  background-image: url('/assets/imagens/sem_foto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 0;
}
.foto img{
  max-width: 100%;
  min-height: 100%;
}
.nome{
  font-size: 30px;
  font-weight: 700;
  color: #1a0e49;
  margin: 22px 0 0 25px;
}
.negocio{
  font-size: 24px;
  font-weight: 400;
  color: #8d8c8c;
  margin: 0 0 0 25px;
}
.pais{
  font-size: 18px;
  font-weight: 400;
  color: #8d8c8c;
  margin: 0 0 0 25px;
}

@media screen and (max-width: 320px) {
  .barra-navegacao{
    padding: 10px 5px!important;
  }
}

@media screen and (max-width: 767px) {
  .barra-navegacao{
    padding: 10px 10px!important;
  }
  .nome{
    margin: 22px 0 0 0px;
  }
  .negocio{
    margin: 0 0 0 0px;
  }
  .pais{
    margin: 0 0 0 0px;
  }

}
